<!DOCTYPE html>
{% extends "base.html"%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {{block.super}} | Chi siamo {%endblock title%}</title>
</head>
    <body>
        {%block content%}
        <h1>Chi siamo:</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nobis facilis doloremque dolore quibusdam! Consequatur repellat quidem dignissimos ut necessitatibus quae quibusdam et expedita. Fuga dignissimos a facilis nisi eligendi.</p>
        {%endblock content%}
    </body>
</html>