<!DOCTYPE html>
{% extends "base.html"%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {{block.super}} | Index Root {%endblock title%}</title>
</head>
<body>
    {%block content%}
    <h1>PRIMO PROGETTO - ROOT MENU</h1>
    <ol>
        <li><a href="/admin">Pannello Admin</a></li>
        <li><a href="{% url 'prima_app:index'%}">Index Prima App</a></li>
    </ol>
    {%endblock content%}
</body>
</html>