<!DOCTYPE html>
{% extends 'base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {{block.super}} | IF ELSE ELIF {%endblock title%}</title>
</head>
<body>
    {%block content%}
    {% if not var1 > var2 %}
        <p><i>var1 is not greater than var2 </i></p>
    {% else %}
        <p><i>var1 is greater than var2 </i></p>
    {% endif %}
    {% if var1 > var2 %}
        <p><i>var1 is greater than var2 </i></p>
    {% elif var1 < var2 %}
        <p><i>var1 is less than var2 </i></p>
    {% endif %}
    {%endblock content%}
</body>
</html>